$main-color: #b8cd07;
$main-black: #161616;


$desktop-size: 1200px;
$tablet-size: 768px;

@mixin hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.HeaderItems {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.HeaderItems__list {
    display: none;
}


@media (min-width: $tablet-size) {
    .HeaderItems {
        width: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}



@media (min-width: $desktop-size) {

    .HeaderItems {
        width: auto; //////////////
    }
    
    
    .HeaderItems__list {
        display: flex;
        margin: 0;
        margin-right: 20px;
        padding: 0;
        list-style: none;
        flex-wrap: nowrap;
    }
}