$header-fontsize: 14px;

$main-color: #b8cd07;
$main-black: #161616;
$tablet_mob-color: #112438;


$desktop-size: 1200px;
$tablet-size: 768px;

@mixin hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.HeaderItems {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.HeaderItems__list {
    display: none;
}


.UserInteraction {
    color: $tablet_mob-color;
}

.UserInteraction__shop {
    display: inline-block;
    i {
        display: block;
        font-size: 24px;
        padding: 0 10px;
        padding-right: 15px;
    }
    .SubText {
        display: none;
    }
}

.UserInteraction__auth {
    display: inline-block;
    i {
        display: block;
        font-size: 24px;
        padding: 0 10px;
    }
    .SubText {
        display: none;
    }
}









@media (min-width: $tablet-size) {
    .HeaderItems__list {
        display: none;
    }
    .UserInteraction {
        display: block;
    }

    .UserInteraction__shop {
        display: inline-block;
        margin: 0 10px 0 20px;
        i {
            display: inline;
            padding: 10px;
            font-size: 16px;
        }
        .SubText {
            display: inline;
            font-size: 16px;
            font-weight: 700;
        }
        
    }

    .UserInteraction__auth {
        display: inline-block;
        box-sizing: border-box;
        i {
            display: inline;
            padding: 10px;
            font-size: 16px;
        }
        .SubText {
            display: inline;
            font-size: 16px;
            font-weight: 700;
            border-bottom: 2px dashed $main-black;
            padding-bottom: 3px;
        }
    }
}








@media (min-width: $desktop-size) {
    .UserInteraction {
        color: $main-black;
    }


    .HeaderItems__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;
    }

    .UserInteraction__shop {
        display: inline-block;
        i {
            font-size: $header-fontsize; 
            transition: all 120ms ease-in;
        }
        .SubText {
            text-transform: uppercase;
            font-size: $header-fontsize; 
            transition: all 120ms ease-in;
        }
        &:hover {
            & i,
            & .SubText {
                cursor: pointer;
                color: $main-color;
            }
        } 
    }

    .UserInteraction__auth {
        display: inline-block;
        i {
            font-size: $header-fontsize; 
            transition: all 120ms ease-in
        }
        .SubText {
            text-transform: uppercase;
            font-size: $header-fontsize; 
            transition: all 150ms ease-in
        }
        &:hover {
            & i {
                cursor: pointer;
                color: $main-color;
            }
            & .SubText {
                cursor: pointer;
                color: $main-color;
                border-bottom: none
            }
        } 
    }
}