@import '../../../../../Variables.scss';


.Empty {
    box-sizing: border-box;
    padding: 12px 10px 6px 10px;
    img {
        width: 50px;
        margin: 0 30px;
        float: left;
        // padding-right: 10px;
    }
    h3 {
        font: inherit;
        font-weight: 400;
        font-size: 28px;
        margin: 10px 0;
        line-height: 35px;
        color: $empty-cart-title;
    }
    p {
        margin: 0;
        margin-top: 16px;
        font-size: 15px;
        text-align: center;
        color: $empty-cart-info;
    }
}