@import '../../../Variables.scss';


@mixin hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.drawer {
    left: -75%;
    position: fixed;
    z-index: 1000;
    width: 75%;
    max-width: 340px;
    background-color: $drawer-bottom;
    height: 100vh;
    transition: .3s;
}

.drawer_title {
    @include logo-gradient;
    font-size: 45px;
}

.drawer.show {
    left: 0;
}

.overlay {
    display: none;
}

.overlay.show {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 999;
}

.drawer__top {
    position: relative;
    background-color: $drawer-top;
    padding: 22px 15px; 
    border-bottom: 1px solid #dedede;
    button {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 15px;
        right: 22px;
    }
}

.DrawerLogo {
    display: block;
    max-width: 162px;
}


@media (max-width: 260px) {

    .drawer {
        width: 100%;
        left: -100%;
    }
}

@media (min-width: $tablet-size) {
   
}

@media (min-width: $desktop-size) {

    .drawer {
        display: none;
    }

    .overlay {
        @include hide();
    }
}