$main-text-color: #0d2744;
$headerColor: #2ECC40;

$desktop-size: 1200px;
$tablet-size: 768px;

.Drawer {
    left: -75%;
    position: fixed;
    z-index: 1000;
    width: 75%;
    max-width: 340px;
    background-color: #fff;
    height: 100vh;
    color: $main-text-color;
    transition: .3s;
}

.Drawer.show {
    left: 0;
}

.Overlay {
    display: none;
}

.Overlay.show {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 999;
}

.Drawer__top {
    position: relative;
    background-color: $headerColor;
    background-color: #fff;
    padding: 20px 15px; 
    border-bottom: 1px solid #dedede;
    button {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 10px;
        right: 20px;
    }
}

.DrawerLogo {
    display: block;
    max-width: 162px;
}


.DrawerAuthLink {
    text-decoration: none;
    color: $main-text-color;
    &:active {
        color: #6b6969;
    }
    i {
        font-size: 20px;
    }
    span {
        padding-left: 10px;
    }
}


@media (max-width: 267px) {

    .Drawer {
        width: 100%;
    }
}

@media (min-width: $tablet-size) {
   
}

@media (min-width: $desktop-size) {

    .DrawerWrapper {
        display: none;
    }
}