@import '../../../../../Variables.scss';


.Link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: $navigation-link-color;
    &:hover {
        color: $navigation-link_h;
    }
}

// главная навигация
.Link.ActivePage {
    color: $navigation-link_a;
    border-radius: 20px;
}