$navigationLinkColor: #161616;
$navigationLinkColor--hover: #535353;
$navigationLinkColor--active: #b8cd07;


.Link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $navigationLinkColor;
    &:hover {
        color: $navigationLinkColor--hover;
    }
}

// главная навигация
.Link.ActivePage {
    background-color: $navigationLinkColor--active;
    border-radius: 20px;
    color: #fff;
}