$navigationLinkColor: #343434;
$navigationLinkColor--hover: #535353;
$navigationLinkColor--active: #7cc576;


.Link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: $navigationLinkColor;
    &:hover {
        color: $navigationLinkColor--hover;
    }
}

// главная навигация
.Link.ActivePage {
    color: $navigationLinkColor--active;
    border-radius: 20px;
}