$main-color: #2ECC40;
$main-black: #343434;

$desktop-size: 1200px;
$tablet-size: 768px;

$arrow-lr: 6px;
$arrow-color: #f0ffff;

@mixin slider_arrow {
    position: absolute;
	width: 50px;
	height: 60px;
	top: 50%;
	margin-top: -25px;
	line-height: 57px;
    text-align: center;
    color: $arrow-color;
	cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    text-shadow: rgba(0, 0, 0, .1) 2px 2px 0px;
    z-index: 100;
    
    -webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;

	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
    transition: all 0.1s ease;

    &:hover {
        background-color: rgba(0, 0, 0, .2);
    }

    &:active {
        background-color: rgba(0, 0, 0, .1);
    }
}

@mixin crumb {
    margin: 0 4px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    opacity: 0.5;
    position: relative;
    top: 0;
}

@keyframes fade-effect {
    from {
        opacity: 4;
    }
    to {
        opacity: 1;
    }
}



.SliderWrapper {
    height: 400px;
	position: relative;
    overflow: hidden;
    text-shadow: rgba(0, 0, 0, .1) 2px 2px 0px;
    // background-color: rgb(36, 120, 115);
    background: url('https://images.wallpaperscraft.ru/image/doroga_tuman_povorot_131698_1280x720.jpg') no-repeat;
    background-size: cover;
    background-position: 0 70%;
}


.Crumb_container {
    position: absolute;
    min-width: 20px;
    // height: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    ul {
        width: 100%;
        padding: 0;
        margin: 15px 0;
        list-style: none;
    }
}

.Counter {
    color: $main-black;
	position: absolute;
	right: 35px;
    top: 30px;
    font-weight: 500;
}


.Crumb {
    @include crumb();
}

.Crumb_a {
    @include crumb();
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    width: 8px;
    height: 8px;
}





.Arrow_prev {
    @include slider_arrow();
    left: $arrow-lr;
    border-radius: 7px 0px 0px 7px;
}

.Arrow_next {
    @include slider_arrow();
    right: $arrow-lr;
    border-radius: 0px 7px 7px 0px;
}




@media (min-width: $tablet-size) {
    
}

@media (min-width: $desktop-size) {

    .SliderWrapper {
        &:hover {
            .Arrow_prev {
                left: $arrow-lr;
            }
    
            .Arrow_next {
                right: $arrow-lr;
            }
        }
    }

    .Arrow_prev {
        left: -50px;
        border-radius: 7px 0px 0px 7px;
    }
    
    .Arrow_next {
        right: -50px;
        border-radius: 0px 7px 7px 0px;
    }

}