@import '../../../Variables.scss';

.Orders {
    // background: rgb(239, 239, 173);
    order: 2;
}


.title {
    color: $main-black;
    font-family: inherit;
    font-weight: 400;
    font-size: 27px;
    margin: 0;
    padding: 19px 0;
    padding-left: 20px;
    background-color: #eee;
}


.labels {
    display: none;
}


.list {
    margin: 0;
    padding: 0;
    list-style: none;
}


@media (min-width: $tablet-size) {
    
    .Orders {
        order: 1;
        flex-basis: 65%;
    }

    .labels {
        margin: 0;
        padding: 16px 8px 10px 8px;
        list-style: none;
        display: flex;
        color: #343434;
        font-weight: 500;
        border-bottom: 1px solid $main-black;
    
        
        li {
            flex-basis: 15%;

            text-align: start;
            &:first-child {
                flex-basis: 55%;
                span {
                    margin-left: 35px;
                }
            }
        }
    }

}

@media (min-width: $desktop-size) {
   
    .Orders {
        flex-basis: 70%;
    }

    .title {
        padding-left: 25px;
    }

}