@import '../../../Variables.scss';


.Bottom {
    color: rgba(255, 255, 255, .5);
    padding: 20px 0;
}


.copyright {
    margin: 0;
    font-size: 15px;
    text-align: center;
}


@media (max-width: 267px) {
    
}

@media (min-width: $tablet-size) {
   
}

@media (min-width: $desktop-size) {
    
}