@import "../../../../Variables.scss";

.productUnit {
    box-sizing: border-box;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 14px;
    padding-bottom: 0;
    flex-basis: 50%;
    border-right: 1px solid $border_color-m;
    border-bottom: 1px solid $border_color-m;
}

.product_preview {
    margin: 0 auto;
    flex-grow: 1;
}

.image {
    max-width: 100%;
    height: auto;
}

.product_info {
    text-align: center;
    // flex-grow: 1;
    padding-bottom: 5px;
    height: 30px;
    overflow: hidden;
    .title {
        text-decoration: none;
        padding-bottom: 10px;
        font-size: 15px;
        font-weight: 400;
        color: #343434;
        &:hover {
            text-decoration: underline;
        }
    }
}

.product_price {
    margin-top: 13px;
    margin: 13px 0 10px 0;
    text-align: center;
    .price {
        font-size: 18px;
        color: $unit-price-color;
        font-weight: 400;
    }
    .currency {
        margin-left: 4px;
        vertical-align: top;
        font-weight: 400;
    }
}

.button_wrapper {
    border-top: 1px solid $border_color-m;
    display: flex;
    padding: 6px 0;
}

._plusone {
    display: inline;
    color: #343434;
}

._incart {
    display: none;
}

.share_link {
    flex-basis: 50%;
    text-decoration: none;
    background-image: url("../../../../assets/ui-items/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 16px;
    color: $unit-price-color;
    flex-basis: 50%;
    text-align: center;
    border-left: 1px solid $border_color-m;
    transition: 0.4s;
    span {
        transition: 0.5s;
        color: transparent;
        text-decoration: underline;
    }
}

@media (min-width: $tablet-size) {
    .productUnit {
        flex-basis: 25%;
        border-bottom: none;
        margin-bottom: 30px;
    }

    .button_wrapper {
        border-bottom: 1px solid $border_color-d;
    }
}

@media (min-width: $desktop-size) {
    .productUnit {
        flex-basis: 25%;
        max-width: 325px;
        transition: all 0.3s ease-in-out;
        border-right: 1px solid $border_color-d;
        &:hover {
            z-index: 10;
            box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, 0.15);
        }
    }

    .product_preview {
    }

    .button_wrapper {
        border-top: 1px solid $border_color-d;
        padding: 8px 0;
    }

    .share_link {
        &:hover {
            background-position: 130%;
            span {
                color: #343434;
            }
        }
        &:active {
            span {
                transition: none;
                color: #7cc576;
                text-decoration: underline;
            }
        }
    }
}
