$price-color: #2ECC40;
$border_color-m: #e1e1e1;
$border_color-d: #eee;
// $border_color-d: #eee;

$desktop-size: 1200px;
$tablet-size: 768px;


.ProductUnit {
    box-sizing: border-box;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 14px;
    padding-bottom: 0;
    flex-basis: 50%;
    border-right: 1px solid $border_color-m;
    border-bottom: 1px solid $border_color-m;
} 

.image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.product_info {
    text-align: center;
    flex-grow: 1;
    padding-bottom: 5px;
    .title {
        margin: 0;
        font-size: 15px;
        font-weight: 400;
        color: #221f11;
    }
}


.product_price {
    margin-top: 13px;
    margin: 13px 0 10px 0;
    text-align: center;
    .price {
        font-size: 18px;
        color: $price-color;
        font-weight: 400;
    }
    .currency {
        margin-left: 4px;
        vertical-align: top;
        font-weight: 400;
    }
}

.button_wrapper {
    border-top: 1px solid $border_color-m;
    display: flex;
    padding: 6px 0;
}

.share_link {
    color: $price-color;
    flex-basis: 50%;
    text-align: center;
    border-left: 1px solid $border_color-m;
}


@media (min-width: $tablet-size) {
    
    .ProductUnit {
        flex-basis: 20%;
        border-bottom: none;
        margin-bottom: 30px;
    }

    .button_wrapper {
        border-bottom: 1px solid $border_color-d;
    }
}

@media (min-width: $desktop-size) {
    
    .ProductUnit {
        transition: all 0.3s ease-in-out;
        border-right: 1px solid $border_color-d;
        &:hover {
            z-index: 10;
            box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, 0.15);
        }
    }

    .button_wrapper {
        border-top: 1px solid $border_color-d;
    }

}