$arrow-lr: 6px;
$arrow-color: #f0ffff;

$desktop-size: 1200px;
$tablet-size: 768px;


@mixin slider_arrow {
    position: absolute;
	width: 50px;
	height: 60px;
	top: 50%;
	margin-top: -25px;
	line-height: 57px;
    text-align: center;
	cursor: pointer;
    background: transparent;
    text-shadow: rgba(0, 0, 0, .1) 2px 2px 0px;
    z-index: 100;
    border: none;
    outline: none;    
    transition: all .2s ease;
    &:active {
        background-color: rgba(0, 0, 0, .1);
    }
}




.control_prev {
    @include slider_arrow();
    left: $arrow-lr;
    border-radius: 9px 0px 0px 9px;
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 21px;
        left: 18px;
        width: 10px;
        height: 10px;
        border-top: 3px solid $arrow-color;
        border-right: 3px solid $arrow-color;
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

.control_next {
    @include slider_arrow();
    right: $arrow-lr;
    border-radius: 0px 9px 9px 0px;
    &::after {
        content: '';
        position: absolute;
        top: 21px;
        right: 18px;
	    display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 3px solid $arrow-color;
        border-right: 3px solid $arrow-color;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

// главный слайдер
.carousel.carousel_slider {
    position: relative;
    margin: 0;
    overflow: hidden;
}


.slider_wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    -webkit-transition: height 0.15s ease-in;
    -moz-transition: height 0.15s ease-in;
    -ms-transition: height 0.15s ease-in;
    -o-transition: height 0.15s ease-in;
    transition: height 0.15s ease-in;
}




.slider_wrapper.axis_horizontal .slider {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.slider_wrapper.axis_horizontal .slider .slide {
    flex-direction: column;
    flex-flow: column;
}



.slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%;
}


.slider.animated {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}


.slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
}


.slide iframe {
    display: inline-block;
    width: calc(100% - 80px);
    margin: 0 40px 40px;
    border: 0;
}

.dots_list {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    text-align: center;
}

.dot {
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.3;
    margin: 7px;
    filter: alpha(opacity=30);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    background: #fff;
    cursor: pointer;
    outline: none;
}

.dot.selected,
.dot:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}



@media (min-width: $tablet-size) {
    
    .control_prev,
    .control_next {
        
        background-color: rgba(0, 0, 0, .1);
        &:hover {
            background-color: rgba(0, 0, 0, .2);
        }

        &::after {
            width: 17px;
            height: 17px;
        }
    }
    
}


@media (min-width: $desktop-size) {

    .carousel.carousel_slider:hover {
        .control_prev {
            left: $arrow-lr;
        }

        .control_next {
            right: $arrow-lr;
        }
    }
    
    .control_prev {
        left: -50px;
        border-radius: 7px 0px 0px 7px;
    }
    
    .control_next {
        right: -50px;
        border-radius: 0px 7px 7px 0px;
    }

}