@import '../../../../Variables.scss';

// .enter {
//     opacity: 1;
//     transform: scale(0)
// }

// .enterActive {
//     opacity: 1;
//     transform: scale(1)
// }

.exit {
    opacity: 1;
    // transform: scale(0)

}

.exitActive {
    opacity: 0;
    transform: translateX(-100px);
    background: rgba(255, 0, 0, .5);
    transition: all 3s ease-out;
}