@import '../../../../Variables.scss';

.enter {
    opacity: 0;
}

.enterActive {
    opacity: 1;
    transform: translateX(-200px);
    transition: all .3s ease-in;
}

.exit {
    opacity: 1;


}

.exitActive {
    opacity: 0;
    transform: translateX(-200px);
    transition: all .3s ease-in;
}