$arrow-color: #f0ffff;
$arrow-lr: 6px;

$desktop-size: 1200px;
$tablet-size: 768px;


.SliderList {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin slider_arrow {
    position: absolute;
	width: 50px;
	height: 60px;
	top: 50%;
	margin-top: -25px;
	line-height: 57px;
    text-align: center;
	cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    text-shadow: rgba(0, 0, 0, .1) 2px 2px 0px;
    z-index: 100;
    
    -webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;

	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
    transition: all .2s ease;

    &:hover {
        background-color: rgba(0, 0, 0, .2);
    }

    &:active {
        background-color: rgba(0, 0, 0, .1);
    }
}



.Arrow_prev {
    @include slider_arrow();
    left: $arrow-lr;
    border-radius: 9px 0px 0px 9px;
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 21px;
        left: 18px;
        width: 17px;
        height: 17px;
        border-top: 3px solid $arrow-color;
        border-right: 3px solid $arrow-color;
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

.Arrow_next {
    @include slider_arrow();
    right: $arrow-lr;
    border-radius: 0px 9px 9px 0px;
    &::after {
        content: '';
        position: absolute;
        top: 21px;
        right: 18px;
	    display: inline-block;
        width: 17px;
        height: 17px;
        border-top: 3px solid $arrow-color;
        border-right: 3px solid $arrow-color;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}




@media (min-width: $tablet-size) {
    
}

@media (min-width: $desktop-size) {

    .Swapper {
        &:hover {
            .Arrow_prev {
                left: $arrow-lr;
            }
    
            .Arrow_next {
                right: $arrow-lr;
            }
        }
    }

    .Arrow_prev {
        left: -50px;
        border-radius: 7px 0px 0px 7px;
    }
    
    .Arrow_next {
        right: -50px;
        border-radius: 0px 7px 7px 0px;
    }

}