@import '../../../Variables.scss';


.Info_Section {
    padding: 24px 0;
    background-color: $main-info-bkg;
}


.Info_Section__list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        padding: 1px;
        margin: 17px 0;
    }
}

.icon_wrap {
    font-size: $info-icon-size;
    color: $info-icon-color; // цвет i
    text-align: center;
}

.text_wrap {
    font: inherit;
    .heading {
        margin-top: 17px;
        margin-bottom: 10px;
        text-align: center;
        color: $main-black;
        font: inherit;
        font-weight: 500; //////
    }
    .description {
        text-align: center;
        font-weight: 400;
        color: #6e6e6e;
        margin: 0;
    }
}





@media (min-width: $tablet-size) {
    .Info_Section__list {
        display: flex;
        li {
            flex-grow: 1;
            flex-basis: 33%;
            padding: 0;
            margin: 0;
            padding: 0 15px;
        }
    }
}

@media (min-width: $desktop-size) {

    .Info_Section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .Info_Section__list {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}