@import '../../../Variables.scss';


.Summary {
    order: 1;
}

.info_box {
    background: $main-color;
}

.title {
    color: $summary-title;
    font-family: inherit;
    font-weight: 400;
    font-size: $summary-title-size;
    margin: 0;
    padding: 19px 0;
    padding-left: 10px;

    span {
        float: right;
        padding-right: 10px;
        font-weight: 700;
    }
 
}


@media (min-width: $tablet-size) {
    
    .Summary {
        order: 2;
        flex-basis: 35%;
        padding: 0 5px;

        height: 100vh; // t
    }

}

@media (min-width: $desktop-size) {
    
    .Summary {
        flex-basis: 30%;
    }

}