@import '../../../Variables.scss';


.title {
    font-family: inherit;
    font-weight: 400;
    margin-left: 10px;
    font-size: $star-title-size;
    color: $main-black;
    i {
        color: $product-star-color;
        padding-right: 10px;
    }
}


.title_wrapper {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        max-width: 350px;
        width: 60%;
        // height: 1px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -4px;
        border-radius: 2px; 
        background-color: #c4c4c4;
        border-bottom: 1px solid rgb(215, 215, 215);
    }
}

.ProductsSection {
    max-width: $products-section-size;
    margin: 0 auto;
}

.Products_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}



@media (min-width: $tablet-size) {


    .Products_list li:nth-child(4n+4) {
        border: transparent; 
    }

    .Products_list li:last-child {
        border: transparent; 
    }

    .Products_list {

    }
}

@media (min-width: $desktop-size) {
    
}