
$desktop-size: 1200px;
$tablet-size: 768px;


.ProductsSection {
    max-width: 1300px;
    margin: 0 auto;
}

.Products_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}



@media (min-width: $tablet-size) {


    .Products_list li:nth-child(4n+4) {
        border: transparent; 
    }

    .Products_list {

    }
}

@media (min-width: $desktop-size) {}