.booking {
    opacity: 0;
}

.booking-enter-active {
    opacity: 1;
    transform: translateX(-200px);
    transition: all .3s ease-in;
}

.booking-exit {
    opacity: 1;
}

.booking-exit-active {
    opacity: 0;
    transform: translateX(-200px);
    transition: all .3s ease-in;
}