@import '../../../Variables.scss';


.SliderWrapper {
    margin: 0 auto;
    max-width: $mainslider-max-width;
    max-height: $mainslider-max-height;
    height: 100%;
	position: relative;
    overflow: hidden;
}


.item {
    box-sizing: border-box;
    padding-top: 24.13%;
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
    background-position: 50%;
}

@media (max-width: 444px) {
    .item {
        padding-top: 35%;
    }
}


@media (min-width: $tablet-size) {
    
}

@media (min-width: $desktop-size) {

}